<header>
    <div class="mobile-menu">
        <button id="mobile-menu-button" class="mobile-menu-button-inactive"
            onclick="mobileMenuButtonClick(this.id)">
            <img id="mobile-menu-open-icon" src="assets/icon/menu-open.svg" class="mobile-menu-open-icon">
            <img id="mobile-menu-close-icon" src="assets/icon/menu-close.svg" class="mobile-menu-close-icon"
                hidden="">
        </button>
    </div>
    <div class="header-parent-inactive" id="header-view">
        <a href="index.html" data-page="index.html">Mis on ASI Karikas?</a>
        <a href="miks-osaleda.html" data-page="miks-osaleda.html">Miks osaleda?</a>
        <a href="koduvoor.html" data-page="koduvoor.html">Koduvoor</a>
        <a href="loppvoor.html" data-page="loppvoor.html">Lõppvoor</a>
        <a href="reeglid.html" data-page="reeglid.html">Reeglid</a>
        <a href="arhiiv.html" data-page="arhiiv.html">Arhiiv</a>
        <a href="toetajad.html" data-page="toetajad.html">Toetajad</a>
    </div>
</header>
